.about {
  @extend %page;
}
.about_wrapper {
}
.about__hero {
  padding: 15rem 4rem;
  display: grid;
  grid-template-columns: 30rem 1fr 30vw 1fr;
  grid-template-areas:
    ". title title img"
    ". . img_1  img"
    ". description description .";

  gap: 1.5rem;

  @include media("<phone") {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title  "
      " img_1  "
      "description  ";
  }
}
.about__hero__title {
  @extend %title-140;
  text-indent: 20%;
  grid-area: title;
  justify-self: end;
  text-align: right;

  @include media("<phone") {
    text-align: left;
  }
}
.about__hero__description {
  text-indent: 20%;
  grid-area: description;
  justify-self: end;
}
.about__hero__image {
  grid-area: img;
  justify-self: start;
  margin-left: -3rem;
  max-height: 50%;
  @include media("<phone") {
    display: none;
    max-width: 100%;
  }
  z-index: -1;
}
.about__hero__image__1 {
  grid-area: img_1;
  justify-self: start;
  margin-top: -5rem;
  max-height: 50%;
  @include media("<phone") {
    margin-top: 0;
  }
}
.line__about__barbers {
  @extend %line;
  grid-area: line;
  background-color: $color-white;
}
.about__barbers {
  background-color: $color-vulcan;
  color: $color-white;
  padding: 15rem 4rem;
  margin: -1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
  grid-template-areas:
    "line line line line line"
    "img_2 description_1 description_1  . img_3"
    ".  . . . img_3 "
    ". img_4 . . .";

  @include media("<phone") {
    grid-template-columns: 1fr;
    grid-template-areas:
      "line "
      " img_2"
      "description_1  "
      "img_3";

    .about__barbers__image__4 {
      display: none;
    }
  }
}
.line__about__barbershop {
  @extend %line;
  background-color: $color-white;
  grid-area: line_1;
}

.about__barbers__description__1 {
  grid-area: description_1;
  @extend %description-32;

  @include media("<phone") {
    margin: 5rem 0;
  }
}
.about__barbers__image__2 {
  grid-area: img_2;
  max-height: 70%;
  @include media("<phone") {
    max-width: 100%;
  }
}
.about__barbers__image__3 {
  grid-area: img_3;
  max-height: 70%;
  @include media("<phone") {
    max-width: 100%;
  }
}
.about__barbers__image__4 {
  grid-area: img_4;
}

.about__barbershop {
  background-color: $color-vulcan;
  color: $color-white;
  padding: 15rem 4rem;
  margin: -1;
  display: grid;
  gap: 1.5rem;
  grid-template-areas:
    "line_1 line_1"
    "description_2 img_5 "
    ". img_5 "
    ". description_3";

  @include media("<phone") {
    grid-template-areas:
      "line_1"
      "description_2"
      " img_5 "
      "description_3";
  }
}

.about__barbershop__description__2 {
  grid-area: description_2;
  @extend %description-32;

  @include media("<phone") {
    margin-bottom: 5rem;
  }
}
.about__barbershop__image__5 {
  grid-area: img_5;
  justify-self: end;
  width: 100%;
}
.about__barbershop__description__3 {
  grid-area: description_3;
  @extend %description-32;
  justify-self: end;

  @include media("<phone") {
    margin-top: 5rem;
  }
}
