%page {
  @extend %cover;

  opacity: 0;
  visibility: hidden;
  z-index: z("content");
  @include media("<phone") {
    overflow: visible;
    overflow-x: hidden;

    position: static;
  }
}

%page--active {
  opacity: 1;
  visibility: visible;
}

%page__wrapper {
  color: inherit;
}
