.footer {
  padding: 8rem 30rem;
  background-color: $color-vulcan;
  color: $color-white;

  @include media("<phone") {
    padding: 8rem 4rem;
  }
}
.footer__wrapper {
  display: grid;
  column-gap: 1.5rem;
  grid-template-areas:
    ". title ."
    "form form form"
    "list list_1 list_2"
    ". title_2 ."
    ". description .";
  @extend %description-24;

  @include media("<phone") {
    grid-template-areas:
      "title title"
      "form form"
      "list ."
      "list_1 list_2"
      "title_2 title_2"
      "description description";
  }
}
.footer__title {
  @extend %title-100;
  grid-area: title;
  text-align: center;
  text-indent: 30%;
  padding-bottom: 10rem;
  padding-right: 15rem;
  justify-self: center;
}

.footer__form {
  display: flex;
  grid-area: form;
  justify-content: flex-start;
  align-items: flex-end;
  // align-self: center;
}

.footer__input {
  @extend %input;
}

.footer__button {
  @extend %description-32;
  border: 0.2rem $color-white solid;
  border-radius: 1rem;
  padding: 1.5rem;
}

.footer__wrapper ul li {
  @extend %link__animation;
  margin: 1.5rem 0;
}

.footer__wrapper ul:nth-of-type(1) {
  margin: 5rem 0;
  grid-area: list;
  // justify-self: end;
}

.footer__wrapper ul:nth-of-type(2) {
  margin: 5rem 0;
  grid-area: list_1;
  justify-self: center;
  padding-left: 15rem;
  @include media("<phone") {
    padding-left: 0;
    justify-self: start;
  }
}

.footer__wrapper ul:nth-of-type(3) {
  margin: 5rem 0;
  grid-area: list_2;
  justify-self: end;
}

.footer__title__2 {
  @extend %title-55;
  grid-area: title_2;
  text-align: center;
}

.footer__description {
  @extend %description-12;
  grid-area: description;
  text-align: center;
}
