.navigation__bar {
  margin: 0 4rem;
}
.navigation__bar__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__bar__title {
  font-family: $font-rye;
}

.navigation {
  @extend %cover;
  opacity: 0;
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 3rem 4rem;
  z-index: z("navigation");
  grid-template-columns: repeat(5, 1fr);
  background-color: $color-vulcan;
  color: $color-white;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 2;
  grid-template-areas:
    "img . navigation img_1 img_1"
    ". text_1 . text_2 text_2"
    ". text_3 . . .";

  @include media("<phone") {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "navigation navigation"
      "text_1 img"
      "text_2 text_2";
  }
}

nav.navigation {
  @extend %title-130;
}

.navigation__close {
  position: absolute;
  top: 0;
  right: 4rem;
}

.navigation__image {
  grid-area: img;

  @include media("<phone") {
    max-width: 15rem;
    justify-self: center;
    align-self: start;
  }
}

.navigation__image__1 {
  grid-area: img_1;
  justify-self: center;
  align-self: end;
  margin-bottom: 4rem;
  @include media("<phone") {
    display: none;
  }
}

.navigation__list {
  grid-area: navigation;
  justify-self: center;

  @include media("<phone") {
    justify-self: start;
  }
}

.navigation__list__link {
  @extend %link__animation;
}

.nav__text {
  @extend %description-22;
  grid-area: text_1;

  @include media("<phone") {
    align-self: start;
  }
}

.nav__booking__text,
.nav__snapscan__text__1 {
  @extend %description-22;

  @include media("<phone") {
    align-self: center;
  }
}

.nav__booking__text {
  margin-bottom: 1.5rem;
}

.nav__time__wrapper {
  @extend %description-22;
  grid-area: text_2;
  display: flex;

  // column-gap: 1.5rem;
  // justify-self: center;

  @include media("<phone") {
    justify-content: space-between;
  }
}

// .nav__time__wrapper:first-child {
//   grid-area: text_2;

//   @include media("<phone") {
//     justify-self: start;
//   }
// }

// .nav__time__wrapper:last-child {
//   grid-area: text_4;

//   @include media("<phone") {
//     justify-self: start;
//   }
// }

.nav__time__wrapper ul li {
  margin: 1rem 0;
}

.close {
  display: none;
  opacity: 0;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 45px;
  height: 45px;
  z-index: 20;
  cursor: pointer;
}
