%description-12 {
  font-size: 1.2rem;

  @include media('<phone') {
    font-size: 3rem;
  }
}

%description-20 {
  font-size: 2rem;
  font-family: $font-montreal;
  font-weight: medium;

  // @include media('<phone') {
  //   font-size: 3rem;
  // }
}

%description-32 {
  font-size: 3.2rem;
  line-height: 1;
  letter-spacing: 0;
  text-transform: uppercase;

  //   @include media('<phone') {
  //     font-size: 2.8rem;
  //   }
}
