.treatments__wrapper {
}

.treatments__header__wrapper {
  min-height: 50vh;
  @extend %description-22;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 70vw;
  margin: auto;
  color: $color-white;
  @include media("<phone") {
    align-items: start;
    margin: 0;
    max-width: 100%;
  }
}

.treatments__header {
  display: flex;
  align-items: center;
  background-color: $color-vulcan;
  padding-top: 5rem;
}

.treatments__header__center {
  display: flex;
  align-items: center;
  background-color: $color-vulcan;
}

.carousel {
  min-height: 50vh;
  background-color: $color-vulcan;
  color: $color-white;
}

.treatments__title[data-active] {
  @extend %title-140;
  margin-bottom: 5rem;

  @include media("<phone") {
    margin: 0 auto;
  }
}

.inactive {
  opacity: 0;
  display: none;
}

.inactive[data-active] {
  @extend %description-22;
  padding: 0 4rem 4rem 4rem;
  display: flex;
  opacity: 1;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  max-width: 70vw;
  margin: 0 auto;

  @include media("<phone") {
    max-width: 100%;
  }
}

.next__arrow {
  transform: translateY(-50%);
  margin-left: 25rem;

  @include media("<phone") {
    scale: 0.5;
    -ms-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    margin-left: 0rem;
  }
}

.back__arrow {
  transform: translateY(-50%);
  margin-right: 25rem;
  @include media("<phone") {
    scale: 0.5;
    -ms-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    margin-left: 0rem;
    margin-right: 0rem;
  }
}

.treatments__image {
  position: relative;
  margin-bottom: 5rem;
  max-width: 40rem;
  min-height: 40rem;
}
.treatments__title__wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.treatments__image__wrapper {
}

.treatments__services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  width: 100%;

  @include media("<phone") {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.treatments__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  min-width: 100%;
  @include media("<phone") {
    padding: 1rem 0;
  }
}

.treatments__col {
  flex-basis: 47%;

  @include media("<phone") {
    flex-basis: 100%;
    width: 100%;
  }
}

.line__treatments {
  @extend %line;

  background-color: $color-white;
}

.line__price {
  @extend %line;
  background-color: $color-white;
}
