.home__gallery__wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  column-gap: 3rem;
  margin: 1.5rem 4rem;
}
.home__gallery__image {
  grid-column: 1/2;
  width: 30rem;
  height: 30rem;
}

.home__gallery__image__1 {
  grid-column: 2/3;
  width: 30rem;
  height: 30rem;
}

.home__gallery__image__2 {
  grid-column: 4/5;
  width: 30rem;
  height: 30rem;
}

.home__gallery__image__3 {
  grid-column: 5/6;
  width: 30rem;
  height: 30rem;
}
