.home {
  @extend %page;
}

.home__wrapper {
  background-color: $color-white;
}

.home__hero {
  padding: 10rem 4rem 3rem 4rem;
}

.home__hero__wrapper__1 {
  display: flex;
  justify-content: center;

  @include media("<phone") {
    flex-direction: column;
    align-items: center;
  }
}

.home__hero__title {
  @extend %title-140;
  @extend %center;
  text-align: center;
  text-transform: uppercase;
  align-self: flex-end;
  line-height: 0.6;
  // transform: translateX(-50%);
}

.home__hero__description {
  @extend %description-32;
  max-width: 35%;
  text-indent: 20%;
  text-align: right;
  @include media("<phone") {
    display: none;
  }
}

.home__hero__image {
  max-width: 30%;
  text-align: center;
  margin: 0.5rem;
}

.home__hero__description__1 {
  width: 35%;
  text-indent: 20%;
  @include media("<phone") {
    display: none;
  }
}

.home__hero__description__mobile {
  display: none;

  @include media("<phone") {
    display: block;
    text-indent: 20%;
  }
}

.line {
  background-color: $color-west-coast;
  height: 0.2rem;
  width: 100%;
  margin-top: 1.5rem;
}
