.home {
}

.home__wrapper {
  background-color: $color-white;
}

.home__hero {
  @extend %grid;
}

.home__hero__title {
  @extend %title-140;
  grid-column: 3/7;
  text-transform: uppercase;
  @extend %center;
}

.home__hero__description {
  @extend %description-32;
  grid-column: 2/4;
  text-indent: 30%;
}

.home__hero__image {
  grid-column: 4/6;
  margin: auto;
  max-width: 38rem;
}

.home__hero__description__1 {
  grid-column: 6/8;
  text-indent: 30%;
}
.home__barbers {
  background-color: $color-vulcan;
}
.home__barbers__wrapper {
  @extend %grid;
  @extend %description-20;
  margin: 0rem 4rem 0 4rem;
  color: $color-white;
}
.home__barbers__title {
  @extend %title-140;
  grid-column: 1/2;
  grid-row: 1/2;
}

.home__barbers__profile {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: $color-west-coast;
  border-radius: 1rem;
  padding: 2rem;
}
.home__barbers__name__1 {
}
.home__barbers__image__1 {
}

.home__barbers__profile__1 {
  grid-row: 2/3;
  grid-column: 4/5;
}

.home__barbers__profile__2 {
  grid-row: 2/3;
  grid-column: 7/8;
}

.home__barbers__profile__3 {
  grid-row: 3/4;
  grid-column: 4/5;
}

.home__barbers__description {
  @extend %title-140;
  grid-row: 4/5;
  grid-column: 6/9;
}

.home__products {
}
.home__products__wrapper {
  @extend %grid;
  margin: 0rem 4rem 0 4rem;
}
.home__products__title {
  @extend %title-140;
  text-indent: 10%;
  grid-column: 1/5;
  grid-row: 1/2;
}

.line {
  grid-column: 1/9;
  grid-row: 2/3;
  background-color: $color-west-coast;
  height: 0.2rem;
  width: 100%;
}
.home__products__description {
  @extend %description-32;
  grid-column: 1/5;
  grid-row: 3/4;
  text-indent: 30%;
}

.home__products__image {
  grid-column: 1/4;
  grid-row: 4/5;
}

.home__products__image__1 {
  grid-column: 6/7;
  grid-row: 3/4;
}

.home__products__image__2 {
  grid-column: 8/9;
  grid-row: 3/4;
}

.home__products__description__1 {
  @extend %description-32;
  grid-column: 4/6;
  grid-row: 4/6;
  text-indent: 30%;
}
