.home__products {
  background-color: $color-white;
  padding: 15rem 4rem;
}
.home__products__wrapper {
  display: grid;
  // grid-template-columns: repeat(4, 1fr);
  // grid-template-rows: repeat(3, 1fr);
  gap: 1.5rem;
  grid-template-areas:
    "title . . ."
    "line line line line "
    "description . img_1 img_2"
    " img . img_1   ."
    " img . . ."
    " . description_1 description_1 .";

  @include media("<phone") {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "title title "
      "line line  "
      "description description"
      " img_1 img_1"
      " img img_2 "
      " description_1 description_1";
  }
}
.home__products__title {
  @extend %title-140;
  grid-area: title;
  text-indent: 10%;

  @include media("<phone") {
    text-indent: 0;
  }
}

.line__2 {
  grid-area: line;

  background-color: $color-west-coast;
  height: 0.2rem;
  width: 100%;
}

.home__products__description {
  @extend %description-32;
  grid-area: description;

  text-indent: 20%;
}

.home__products__image {
  grid-area: img;
  justify-self: start;
}

.home__products__image__1 {
  grid-area: img_1;
  justify-self: end;

  @include media("<phone") {
    justify-self: start;
  }
}

.home__products__image__2 {
  grid-area: img_2;
  justify-self: end;

  @include media("<phone") {
    justify-self: start;
  }
}

.home__products__description__1 {
  @extend %description-32;
  grid-area: description_1;
  padding-right: 30rem;
  text-indent: 15%;

  @include media("<phone") {
    justify-self: center;
  }
}
